---
import "../styles/global.css";

const pageTitle = "About me";
const identity = {
  firstName: "Hirak",
  country: "India",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
const skillColour = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html>
    <head>
        <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <style define:vars={{skillColour, fontWeight, textCase}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
                color: var(--skillColour);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
        </style>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <h1>{pageTitle}</h1>
        <p>Here are some details about me</p>
        <ul>
            <li>My name is {identity.firstName}</li>
            <li>I live in {identity.country}</li>
            <li>My hobbies are: {identity.hobbies.map((hobby) => <p>{hobby}</p>)}</li>
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy that I am learing astro</p>}
        {finished && <p>I am finished learing astro</p>}
        {goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not finish in 3 days</p>}
    </body>
</html>